<<<<<<< HEAD
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
=======
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
>>>>>>> 2b2f555f25e3a5a74a7ea7fba57f30e1383865fc
