#map(style='width:300px; height:300px;')
script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
script(src='https://cdn.klokantech.com/maptilerlayer/v1/index.js')
script.
    function initialize(){
        var zoomLevel = 16;
        var geocoder = new google.maps.Geocoder();
        var gps = navigator.geolocation;
        var markerMaxWidth = 300;
        var locations = [
            {lat : 37.399631,
                lng : 126.940675,
                title: "샘모루 초등학교",
                info: "<strong>Elemetary School<strong><br/><a href='http://portal.ajou.ac.kr' target=_blank>portal</a>"},
            {lat : 37.399269,
                lng : 126.938223,
                title: "세븐일레븐",
                info: "<strong>Eleven of Seven<strong><br/><a href='http://portal.ajou.ac.kr' target=_blank>portal</a>"},
            {lat : 37.405475,
                lng : 126.971419,
                title : "할리스커피 동편점",
                info: "<strong>Hollys Coffee<strong><br/><a href = 'http://www.hollys.co.kr' target=_blank>portal to hollys</a>"},
            {lat : 37.2821419,
                lng : 127.0462701,
                title: "아주대 율곡관",
                info: "<strong>아주대 율곡관<strong><br/><a href = 'http://portal.ajou.ac.kr' target=_blank>portal</a>"},
            {lat : 37.2843606,
                lng : 127.0444535,
                title: "아주대 팔달관",
                info: "<strong>아주대 팔달관<strong><br/><a href = 'http://portal.ajou.ac.kr' target=_blank>portal</a>"}
        ];
        var geoOptions = {
            enableHighAccuracy: true,
            maximumAge : 0
        };
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                // 현재 위경도 값(GPS) 변수에 넣기.
                var latitude = pos.coords.latitude;
                var longitude = pos.coords.longitude;
                var mapOptions = {
                    zoom: zoomLevel,
                    center: new google.maps.LatLng(latitude,longitude),
                    //center: new google.maps.LatLng(37.2834866,127.0447932),
                    navigationControl : false,
                    mapTypeControl : false,
                    scaleControl : true,
                    streetViewControl : false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                map = new google.maps.Map(document.getElementById('map'),mapOptions);
                var geoloccontrol = new klokantech.GeolocationControl(map, 18);
                var cityCircle = new google.maps.Circle({
                    center: new google.maps.LatLng(latitude,longitude),
                    //center: new google.maps.LatLng(37.2834866,127.0447932) ,
                    radius: 250,
                    strokeColor: "#000000",
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: "#808080",
                    fillOpacity: 0.5
                });
                cityCircle.setMap(map);
                // 현재 위치에 마커 생성
                var myPosition = new google.maps.Marker({
                    position: new google.maps.LatLng(latitude,longitude),
                    //position: new google.maps.LatLng(37.2834866,127.0447932),
                    map: map,
                    draggable: false,
                    icon: "http://maps.google.com/mapfiles/ms/micons/man.png"
                });
                console.log(latitude + longitude);
                //반경500m 이내의 마커만 표시하기
                for(index in locations){
                    if(Math.pow(Math.abs(latitude*100000 - locations[index].lat*100000),2)+
                            Math.pow(Math.abs(longitude*100000 - locations[index].lng*100000),2)<62500)addMarker(locations[index]);
                }
                function addMarker(data){
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(data.lat,data.lng),
                        map: map,
                        title: data.title,
                        draggable:false,
                        animation: google.maps.Animation.BOUNCE
                    });
                    var contentString = data.info;
                    var infowindow = new google.maps.InfoWindow({content: contentString});
                    google.maps.event.addListener(marker,"click",function(){
                        infowindow.open(map,marker);
                    });
                }
            }, function (error) {
                switch (error.code) {
                    case 1:
                        $("#errormsg").html("User denied the request for Geolocation.");
                        break;
                    case 2:
                        $("#errormsg").html("Location information is unavailable.");
                        break;
                    case 3:
                        $("#errormsg").html("The request to get user location timed out.");
                        break;
                    case 0:
                        $("#errormsg").html("An unknown error occurred.");
                        break;
                }
            },geoOptions);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
    window.onload = initialize;

